* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

a{
    text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px ;
  height: 60px;
  background-color: #361818;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-decoration: none;
  z-index: 100;
}

.logo-text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    letter-spacing: 1px;
}

.menu li a:hover {
    color: rgb(113, 26, 26);
}

.menu li a.active-page {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

.image {
  display: flex;
  min-height: 100vh;
}

.image.reverse {
  flex-direction: row-reverse;
}

.text-left,
.text-right {
  width: 50%;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-left .text,
.text-right .text {
  width: 100%;
  max-width: 520px;
  text-align: center;
}

.text-left h2,
.text-right h2 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #361818;
}

.text-left p,
.text-right p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 20px;
  color: #361818;
}

.gallery-images {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.gallery-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.gallery-images img.active {
  opacity: 1;
}

.img-left {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.img-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.text-right {
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-right h2 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  color: #361818;
}

.text-right p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 20px;
  color: #361818;
  text-align: center;
}

.slide2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease;
}

.slide2.active2 {
  opacity: 1;
}

.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 3;
}
 
.slide3.active3 {
  opacity: 1;
}

.image-reverse {
  flex-direction: row-reverse;
}